{% extends 'base.html' %}

{% block head %}

<Title>MiiSpace HomePage</Title>
{% endblock %}

{% block body %}
<img src="{{ url_for('static', filename='images/leaves.png') }}" style="width: 100%;position:absolute; z-index: 2;pointer-events: none;">
<br>
<br>
<div data-aos="fade-up"data-aos-anchor-placement="top-bottom"data-aos-duration="2000" style="margin-top:7%;">
    <center>
        <img src="{{ url_for('static', filename='images/logoboard.png') }}" style="width: 500px; z-index: 2;pointer-events: none;">
        <h1 style="font-size:35px; font-family:Calistoga"><strong>Welcome to MiiSpace</strong></h1>
        <p style ="font-size:30px;font-family:Calistoga">Your own personal bulletin board where you can customize everything to your liking!</p>
    </center>
</div>




{% endblock %} 