{% extends 'base.html' %}

{% block head %}

<Title>MiiSpace HomePage</Title>
{% endblock %}

{% block body %}

<br>
<div data-aos="fade-up"data-aos-anchor-placement="top-bottom"data-aos-duration="2000">
    <center>
        <img src="https://img.pngio.com/bulletin-board-png-97-images-in-collection-page-3-bulletin-board-png-900_607.jpg" style="height:200px;padding-bottom:20px">
        <h1>Welcome to MiiSpace</h1>
        <p>Your own personal bulletin board where you can customize everything to your liking!</p>
    </center>
</div>




{% endblock %} 