{% extends 'base.html' %}

{% block head %}

<Title>MiiSpace HomePage</Title>
{% endblock %}

{% block body %}
<img src="{{ url_for('static', filename='images/leaves.png') }}" style="width: 100%;position:absolute; z-index: 2;pointer-events: none;">
<br>
<br>
<div data-aos="fade-up"data-aos-anchor-placement="top-bottom"data-aos-duration="2000" style="margin-top:2%;">
    <center>
        <img src="{{ url_for('static', filename='images/logoboard.png') }}" style="width: 300px; z-index: 2;pointer-events: none;">
        <h1>Welcome to MiiSpace</h1>
        <p>Your own personal bulletin board where you can customize everything to your liking!</p>
    </center>
</div>




{% endblock %} 