{% extends 'base.html' %}

{% block head %}
<script src="http://code.jquery.com/jquery-1.8.3.js"></script>
<script src="http://code.jquery.com/ui/1.9.2/jquery-ui.js"></script>
<script src="https://kit.fontawesome.com/368a12c127.js" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.0.0/moment.min.js"></script>




<Title>MiiSpace Main Page</Title>
<style>
    #draggable {
         width: 150px; 
         height: 150px;
         padding: 0.5em; 
         background-color: #e0bbe4;
         box-shadow: 2px 2px 4px #000000;
    }
    body{
        background-image: url("{{ url_for('static', filename='images/bulletinboard.jpg') }}");
    }
    

</style>

<script>
    $(function() {
        $( ".ui-widget-content" ).draggable();
    });
</script>
{% endblock %}

{% block body %}
<br>
<center>
    <div class="ui-widget-content" style="width:370px" >
        <div id="clock" class="light" style="box-shadow: 0 10px 20px rgba(0, 0, 0, .7);">
            <div class="display">
                <div class="weekdays"></div>
                <div class="ampm"></div>
                <div class="alarm"></div>
                <div class="digits"></div>
            </div>
        </div>
    </div>
    </center>
{% for note in sticky%}
<div id="draggable" class="ui-widget-content" style="float:right">
    <p style="font-family: Geneva;">{{note}}</p>
</div>
    {%  endfor %}
{% for pic in pics %}

<div id="draggable" class="ui-widget-content" style=" float:right;padding:0; height:100%;width:auto;background: #ffffff;
display: inline-block;
margin: -10% 15px 30px;
padding: 15px 15px 30px;
text-align: center;
text-decoration: none;
-webkit-box-shadow: 0 4px 6px rgba(0, 0, 0, .3);
-moz-box-shadow: 0 4px 6px rgba(0, 0, 0, .3);
box-shadow: 0 4px 6px rgba(0, 0, 0, .3);
z-index: 0;
position: relative;">
  <img src="{{pic}}" alt="" style = "max-height: 200px; max-width:200px;" >
</div>

{% endfor %}

<script>
    var draggableElements = document.getElementsByClassName("draggable");

for(var i = 0; i < draggableElements.length; i++){
    dragElement(draggableElements[i]);
}

function dragElement(elmnt) {
    var pos1 = 0, pos2 = 0, pos3 = 0, pos4 = 0;
    if (document.getElementById(elmnt.id + "header")) {
        document.getElementById(elmnt.id + "header").onmousedown = dragMouseDown;
    } else {
        elmnt.onmousedown = dragMouseDown;
    }
    function dragMouseDown(e) {
        e = e || window.event;
        pos3 = parseInt(e.clientX);
        pos4 = parseInt(e.clientY);
        document.onmouseup = closeDragElement;
        document.onmousemove = elementDrag;
        return false;
    }

    function elementDrag(e) {
        e = e || window.event;
        pos1 = pos3 - parseInt(e.clientX);
        pos2 = pos4 - parseInt(e.clientY);
        pos3 = parseInt(e.clientX);
        pos4 = parseInt(e.clientY);
        elmnt.style.top = (elmnt.offsetTop - pos2) + "px";
        console.log(elmnt.offsetTop)
        elmnt.style.left = (elmnt.offsetLeft - pos1) + "px";
    }

    function closeDragElement() {
        document.onmouseup = null;
        document.onmousemove = null;
    }
}
</script>
<!--
<div style="position: absolute; top: 60px; right: 10px;  width: 100px; text-align:right;">
    <button class="btn"></button><i class="fas fa-cog"></i></button>
  </div>
<div class="sidebar">
    
    <button class="btn"><a href="#">Add Image <i class="fas fa-images"></i></a></button>
    <button class="btn" onclick = createSticky()><a href="#">Add Note <i class="fas fa-sticky-note"></i> </a></button>
    <button class="btn"><a href="#">Add Background <i class="far fa-images"></i></a></button>
   
  </div>

<div id="mydiv"> 
<div class="stickyNote">
    <div id="mydivheader">Enter a note here!</div>
    <textarea class="form-control" ></textarea>
</div>
</div>
<script>
    function createSticky ()
  {
  var boxEle = document.createElement('div');
  boxEle.setAttribute("id", "mydiv");

  var stickyNote = document.createElement('div');
  stickyNote.setAttribute("class", "stickyNote");
  
  var mydivheader = document.createElement('div');
  mydivheader.setAttribute("id", "mydivheader");

  var theText = document.createElement('p');
  theText.innerText = "Enter a note here!";

  var actualText = document.createElement('textarea');
  actualText.setAttribute("class", "form-control");

  mydivheader.appendChild(theText);
stickyNote.appendChild(mydivheader);

stickyNote.appendChild(actualText);
boxEle.appendChild(stickyNote);


document.body.appendChild(boxEle);
  }

    //Make the DIV element draggagle:
    dragElement(document.getElementById("mydiv"));
    
    function dragElement(elmnt) {
      var pos1 = 0, pos2 = 0, pos3 = 0, pos4 = 0;
      if (document.getElementById(elmnt.id + "header")) {
        /* if present, the header is where you move the DIV from:*/
        document.getElementById(elmnt.id + "header").onmousedown = dragMouseDown;
      } else {
        /* otherwise, move the DIV from anywhere inside the DIV:*/
        elmnt.onmousedown = dragMouseDown;
      }
    
      function dragMouseDown(e) {
        e = e || window.event;
        e.preventDefault();
        // get the mouse cursor position at startup:
        pos3 = e.clientX;
        pos4 = e.clientY;
        document.onmouseup = closeDragElement;
        // call a function whenever the cursor moves:
        document.onmousemove = elementDrag;
      }
    
      function elementDrag(e) {
        e = e || window.event;
        e.preventDefault();
        // calculate the new cursor position:
        pos1 = pos3 - e.clientX;
        pos2 = pos4 - e.clientY;
        pos3 = e.clientX;
        pos4 = e.clientY;
        // set the element's new position:
        elmnt.style.top = (elmnt.offsetTop - pos2) + "px";
        elmnt.style.left = (elmnt.offsetLeft - pos1) + "px";
      }
    
      function closeDragElement() {
        /* stop moving when mouse button is released:*/
        document.onmouseup = null;
        document.onmousemove = null;
      }
    }
    </script>

-->
<br>

<div class="ui-widget-content" style="width:300px;background-color:#aec6cf;border-radius: 25px;box-shadow: 2px 2px 4px #000000;top:-30px;left:30px">
    <center>
        <h5>Ambient Noise</h5>
    </center>
    <center>
        <h6>Coffee Shop</h6>
        <audio muted class="coffee"autoplay loop src="{{ url_for('static', filename='sounds/coffee.mp3') }}"></audio>
        <input type="range" id="vol" max="1" min="0" step="0.01" onchange="changevolume(this.value)" />
    </center>
    <center>
        <h6>Rainy and Wind</h6>
        <audio muted class="rainywind"autoplay loop src="{{ url_for('static', filename='sounds/rainywind.mp3') }}"></audio>
        <input type="range" id="vol" max="1" min="0" step="0.01" onchange="changevolume2(this.value)" />
    </center>
    <center>
        <h6>Ocean Waves</h6>
        <audio muted class="ocean"autoplay loop src="{{ url_for('static', filename='sounds/ocean.mp3') }}"></audio>
        <input type="range" id="vol" max="1" min="0" step="0.01" onchange="changevolume3(this.value)" />
    </center>
 
</div>
<div id='calendar' style="margin: 40px 10px; padding:0; font-family: 'Lucida Grande',Helvetica,Arial,Verdana,sans-serif; font-size:14;">


</div>

<!-- JavaScript Includes -->

    <script>$(function(){

        // Cache some selectors
    
        var clock = $('#clock'),
            alarm = clock.find('.alarm'),
            ampm = clock.find('.ampm');
    
        // Map digits to their names (this will be an array)
        var digit_to_name = 'zero one two three four five six seven eight nine'.split(' ');
    
        // This object will hold the digit elements
        var digits = {};
    
        // Positions for the hours, minutes, and seconds
        var positions = [
            'h1', 'h2', ':', 'm1', 'm2', ':', 's1', 's2'
        ];
    
        // Generate the digits with the needed markup,
        // and add them to the clock
    
        var digit_holder = clock.find('.digits');
    
        $.each(positions, function(){
    
            if(this == ':'){
                digit_holder.append('<div class="dots">');
            }
            else{
    
                var pos = $('<div>');
    
                for(var i=1; i<8; i++){
                    pos.append('<span class="d' + i + '">');
                }
    
                // Set the digits as key:value pairs in the digits object
                digits[this] = pos;
    
                // Add the digit elements to the page
                digit_holder.append(pos);
            }
    
        });
    
        // Add the weekday names
    
        var weekday_names = 'MON TUE WED THU FRI SAT SUN'.split(' '),
            weekday_holder = clock.find('.weekdays');
    
        $.each(weekday_names, function(){
            weekday_holder.append('<span>' + this + '</span>');
        });
    
        var weekdays = clock.find('.weekdays span');
    
        // Run a timer every second and update the clock
    
        (function update_time(){
    
            // Use moment.js to output the current time as a string
            // hh is for the hours in 12-hour format,
            // mm - minutes, ss-seconds (all with leading zeroes),
            // d is for day of week and A is for AM/PM
    
            var now = moment().format("hhmmssdA");
    
            digits.h1.attr('class', digit_to_name[now[0]]);
            digits.h2.attr('class', digit_to_name[now[1]]);
            digits.m1.attr('class', digit_to_name[now[2]]);
            digits.m2.attr('class', digit_to_name[now[3]]);
            digits.s1.attr('class', digit_to_name[now[4]]);
            digits.s2.attr('class', digit_to_name[now[5]]);
    
            // The library returns Sunday as the first day of the week.
            // Stupid, I know. Lets shift all the days one position down, 
            // and make Sunday last
    
            var dow = now[6];
            dow--;
    
            // Sunday!
            if(dow < 0){
                // Make it last
                dow = 6;
            }
    
            // Mark the active day of the week
            weekdays.removeClass('active').eq(dow).addClass('active');
    
            // Set the am/pm text:
            ampm.text(now[7]+now[8]);
    
            // Schedule this function to be run again in 1 sec
            setTimeout(update_time, 1000);
    
        })();
    
    
    

    
    });</script>




<script>function changevolume(amount) {
    var audioobject = document.getElementsByClassName("coffee")[0];
    audioobject.volume = amount;
    audioobject.muted=false;
  }
</script>
<script>function changevolume2(amount) {
    var audioobject = document.getElementsByClassName("rainywind")[0];
    audioobject.volume = amount;
    audioobject.muted=false;
  }
</script>
<script>function changevolume3(amount) {
    var audioobject = document.getElementsByClassName("ocean")[0];
    audioobject.volume = amount;
    audioobject.muted=false;
  }
</script>
{% endblock %} 