{% extends 'settingsBase.html' %}

{% block head %}
<script src="https://kit.fontawesome.com/368a12c127.js" crossorigin="anonymous"></script>
<Title>MiiSpace Settings About Page</Title>
{% endblock %}

{% block body %}
<br>
<br>
<br>
<center>
    <h1>Creator's of Mii Space</h1>
    <div class="polaroid">
        <a href="#" title="Brian Liu">
          <img height="250" src="https://media-exp1.licdn.com/dms/image/C4D03AQH4bNB4DCdB9Q/profile-displayphoto-shrink_800_800/0/1598419301770?e=1623283200&v=beta&t=oXMmF-Bi4CCjZ6qeMHXjgWPqgy7jdVWICDhbwy1S8gE" />
        </a>
      </div>
      <div class="polaroid">
        <a href="#" title="Steven Lam">
          <img height="250" src="https://images.unsplash.com/photo-1533105079780-92b9be482077?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=334&q=80" />
        </a>
      </div>
      <div class="polaroid">
        <a href="#" title="Steven Lam">
          <img height="250" src="https://images.unsplash.com/photo-1533105079780-92b9be482077?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=334&q=80" />
        </a>
      </div>
      <div class="polaroid">
        <a href="#" title="Steven Lam">
          <img height="250" src="https://images.unsplash.com/photo-1533105079780-92b9be482077?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=334&q=80" />
        </a>
      </div>
</center>


<script>

</script>
<p>{{ name }}</p>
{% endblock %} 