{% extends 'settingsBase.html' %}

{% block head %}
<script src="https://kit.fontawesome.com/368a12c127.js" crossorigin="anonymous"></script>
<Title>MiiSpace Settings Account Page</Title>
{% endblock %}

{% block body %}

<div class="">
    <br>
    <br>
    <br>
    <center><h1>Account Settings</h1></center>
    <form style="text-align: center;" action="/settingsAccount" method="POST">
        <div>
            <img src="{{ url_for('static', filename='images/Sample_User_Icon.png') }}" style="border-radius: 50px;width: 35px;position:absolute; z-index: 2;pointer-events: none;background-color:white;">
            <input type="text" value="{{name}}" name="name" required style="border-radius: 25px;font-size:20px;text-align: center;background-color: #DCDCDC;"><br>
        </div>
        <br>
        <div>
            <img src="{{ url_for('static', filename='images/Sample_User_Icon.png') }}" style="border-radius: 50px;width: 35px;position:absolute; z-index: 2;pointer-events: none;background-color:white;">
            <input type="text" value="{{username}}" name="username" required style="border-radius: 25px;font-size:20px;text-align: center;background-color: #DCDCDC;"><br>
        </div>
        <br>
        <div>
            <img src="{{ url_for('static', filename='images/unlock.png') }}" style="border-radius: 50px;width: 35px;position:absolute; z-index: 2;pointer-events: none;background-color:white;">
            <input type="password" placeholder="Enter Password" name="password"  style="border-radius: 25px;font-size:20px;text-align: center;background-color: #DCDCDC;"><br><br>
        </div>
        <div>
            <img src="{{ url_for('static', filename='images/lock.png') }}" style="border-radius: 50px;width: 35px;position:absolute; z-index: 2;pointer-events: none;background-color:white;">
            <input type="password" placeholder="Re-Enter Password" name="repeatPassword" style="border-radius: 25px;font-size:20px;text-align: center;background-color: #DCDCDC;"><br><br>
        </div>
        <div>
            <img src="{{ url_for('static', filename='images/Sample_User_Icon.png') }}" style="border-radius: 50px;width: 35px;position:absolute; z-index: 2;pointer-events: none;background-color:white;">
            <input type="number" value="{{phone}}" name="phone" required style="border-radius: 25px;font-size:20px;text-align: center;background-color: #DCDCDC;"><br>
        </div>
        <br>
        <button type="submit" style="border-radius: 25px;font-size:20px;text-align: center;width:225px;background-color: #a8baa9;"><strong>Save</strong></button>
    </form> 
    {% if ERROR %}
    <br>
    <h5 style="color: red;text-align: center;">{{ERROR_MSG}}</h5>    
    {% else %}
    <br>
    <h5 style="color: green;text-align: center;">{{ERROR_MSG}}</h5>
    {% endif %}
</div>
<br>
<br>

<script>

</script>
<p>{{ name }}</p>
{% endblock %} 