{% extends 'settingsBase.html' %}

{% block head %}
<script src="https://kit.fontawesome.com/368a12c127.js" crossorigin="anonymous"></script>
<Title>MiiSpace Settings About Page</Title>
{% endblock %}

{% block body %}
<br>
<br>
<br>
<div style="background-color:#a8baa9; width:50%; margin-left:30%; margin-right:20%; margin-top:1%; border-radius: 50px 50px 50px 50px;">
<center style="padding-left: 0px;">
  <br>
    <h1 style="font-family:Calistoga;"><strong>Creator's of Mii Space</strong></h1>
    <span class="polaroid">
        <a  style="font-family:Calistoga;" href="https://www.linkedin.com/in/brian-adam-liu/" title="Brian Liu" >
          <img height="250" src="https://media-exp1.licdn.com/dms/image/C4D03AQH4bNB4DCdB9Q/profile-displayphoto-shrink_800_800/0/1598419301770?e=1623283200&v=beta&t=oXMmF-Bi4CCjZ6qeMHXjgWPqgy7jdVWICDhbwy1S8gE" />
        </a>
    </span>
      <span class="polaroid">
        <a  style="font-family:Calistoga;"  href="https://www.linkedin.com/in/steven-lam-b94061202/" title="Steven Lam">
          <img height="250" src="https://media-exp1.licdn.com/dms/image/C4E03AQHJp0ihVpjONA/profile-displayphoto-shrink_800_800/0/1618098195358?e=1623888000&v=beta&t=Psbt3HHbyJtrFqw5zuGu9iOMOdxtk6kQY67W7xfd3M4" />
        </a>
    </span>
    <br>
      <span class="polaroid">
        <a  style="font-family:Calistoga;"  href="https://www.linkedin.com/in/tinatn11/" title="Tina Nguyen">
          <img height="250" src="https://media-exp1.licdn.com/dms/image/C4E03AQFmtFJc_GHeXw/profile-displayphoto-shrink_800_800/0/1598419190194?e=1623888000&v=beta&t=kdo4thzOM2La1E2V6N0QPMpgpHtFYYzesc5RsDzFs_E" />
        </a>
      </span>
      <span class="polaroid">
        <a  style="font-family:Calistoga;"  href="https://www.linkedin.com/in/travis-n/" title="Travis Nguyen">
          <img height="250" src="https://media-exp1.licdn.com/dms/image/C4D03AQHHNrqwrkQ8BQ/profile-displayphoto-shrink_800_800/0/1598414938864?e=1623888000&v=beta&t=3KPjBLuE5AWlNryO6iuT61WCFut9qyIqrUU7aogLFGg" />
        </a>
      </span>
</center>
</div>

<script>

</script>
<p>{{ name }}</p>
{% endblock %} 