<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <style>
        body{
            background-color: #FFF7DB;
            color:black;
        }
    </style>
    {% block head %}{% endblock %}
</head>
<body style="padding-top: 50px;">
    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top" >
        <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/">Home <i class="fas fa-home"></i></a>
                </li>
                {% if signedIn %}
                <li class="nav-item">
                    <a class="nav-link" href="/mainPage">My Page <i class="fas fa-file"></i></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/stickynotes">Edit Sticky Notes <i class="fas fa-sticky-note"></i></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/myImages">Manage Images <i class="fas fa-file-image"></i></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/calendar">Google Calendar <i class="fas fa-calendar-times"></i></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/spotify">Spotify Playlist <i class="fas fa-music"></i></a>
                </li>
                {% endif %}
            </ul>
        </div>
        <div class="mx-auto order-0">
            <a class="navbar-brand mx-auto" href="#">MiiSpace</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".dual-collapse2">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
        <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
            {% if signedIn %}
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="settingsAbout.html">Settings <i class="fas fa-cog"></i></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="logout">Logout <i class="fas fa-sign-out-alt"></i></a>
                </li>
            </ul>
            {% else %}
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="signup">Sign Up</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="signin">Sign In</a>
                </li>
            </ul>
            
            {% endif %}
        </div>
    </nav>
    
    
    <div class="sidebar" style="z-index: 3;">
        <br>
        <button class="btn"><a href="/settingsAbout">About <i class="fas fa-info-circle"></i></a></button>
        <button class="btn"><a href="/settingsAccount">Account <i class="far fa-user"></i></a></button>
        
        <!--<button class="btn"><a href="/settingsAppearance">Appearance <i class="fas fa-eye"></i></a></button> -->
        <button class="btn"><a href="/settingsHelp">Help <i class="fas fa-question-circle"></i></a></button>
        
      </div>
      <img src="{{ url_for('static', filename='images/leaves.png') }}" style="width: 100%;position:absolute; z-index: 2;pointer-events: none;">

    {% block body %}{% endblock %}
    <script>
        AOS.init();
      </script>
</body>
</html>