{% extends 'settingsBase.html' %}

{% block head %}
<script src="https://kit.fontawesome.com/368a12c127.js" crossorigin="anonymous"></script>
<Title>MiiSpace Settings AppearancePage</Title>
{% endblock %}

{% block body %}



<div class="">
    <br>
    <br>
    <br>
    <center><h1>Account Settings</h1></center>
    <form style="text-align: center;" action="/settingsAppearance" method="POST">
        <div>
            <label>Text color:</label>
            <input type="color" value={{textColor}} name="textColor" required style="border-radius: 25px;font-size:20px;text-align: center;background-color: #DCDCDC;"><br>
        </div>
        <br>
        <div>
            <label>Background color:</label>
            <input type="color" value={{bgColor}} name="bgColor" required style="border-radius: 25px;font-size:20px;text-align: center;background-color: #DCDCDC;"><br>
        </div>
        <br>
        
        
        <button type="submit" style="border-radius: 25px;font-size:20px;text-align: center;width:225px;background-color: #a8baa9;"><strong>Save</strong></button>
    </form> 
    {% if ERROR %}
    <br>
    <h5 style="color: red;text-align: center;">{{ERROR_MSG}}</h5>    
    {% else %}
    <br>
    <h5 style="color: green;text-align: center;">{{ERROR_MSG}}</h5>
    {% endif %}
</div>
<br>
<br>

<script>

</script>
<p>{{ name }}</p>
{% endblock %} 