{% extends 'settingsBase.html' %}

{% block head %}
<script src="https://kit.fontawesome.com/368a12c127.js" crossorigin="anonymous"></script>
<Title>MiiSpace Settings Help Page</Title>
{% endblock %}

{% block body %}
<br>
    <br>
    <br>

    <center><h2>Pages</h2></center>
    <div style="padding-left: 30vw;">
        <h5>My Page: Where you can add notes and manage your space</h5>
        <h5>Edit Sticky Notes: Add notes to My Page</h5>
        <h5>Manage Images: Add Images to page</h5>
    </div>
    <br>
    <center><h2>Settings</h2></center>
    <div style="padding-left: 30vw;">
        <h5>Accont: Change account information</h5>
        <h5>Appearance: Change your MiiSpace appearance</h5>
        <h5>About: Creators of MiiSpace</h5>
    </div>




<script>

</script>
<p>{{ name }}</p>
{% endblock %} 