{% extends 'settingsBase.html' %}

{% block head %}
<script src="https://kit.fontawesome.com/368a12c127.js" crossorigin="anonymous"></script>
<Title>MiiSpace Settings Help Page</Title>
{% endblock %}

{% block body %}
<div style="background-color:#a8baa9; width:50%; margin-left:30%; margin-right:20%; margin-top:10%; border-radius: 50px 50px 50px 50px;">
<br>

    <center><h2 style="font-family:Calistoga;"><strong>Pages</strong></h2></center>
    <center>
        <h5 style="font-family:Calistoga; font-size:25px;"><a href="mainPage.html">My Page</a>: Where you can add notes and manage your space</h5>
        <h5 style="font-family:Calistoga; font-size:25px;"> <a href="mainPage.html">Edit Sticky Notes</a>: Add notes to My Page</h5>
        <h5 style="font-family:Calistoga; font-size:25px;"><a href="mainPage.html">Manage Images</a>: Add Images to page</h5>
    </center>
    <br>
    <center><h2 style="font-family:Calistoga;"><strong>Settings</strong></h2></center>
    <center >
        <h5 style="font-family:Calistoga; font-size:25px;"><a href="mainPage.html">Account</a>: Change account information</h5>
        <h5 style="font-family:Calistoga; font-size:25px;"><a href="mainPage.html">Appearance</a>: Change your MiiSpace appearance</h5>
        <h5 style="font-family:Calistoga; font-size:25px;"><a href="mainPage.html">About</a>: Creators of the MiiSpace</h5>
        
    </center>

<br>
</div>
<script>

</script>
<p>{{ name }}</p>
{% endblock %} 