{% extends 'base.html' %}

{% block head %}

<Title>MiiSpace Sign Up</Title>
{% endblock %}

{% block body %}
<img src="{{ url_for('static', filename='images/leaves.png') }}" style="width: 100%;position:absolute; z-index: 2;pointer-events: none;">

<div data-aos="fade-up"data-aos-anchor-placement="top-bottom"data-aos-duration="2000">
<div class="content"style="background:url('{{ url_for('static', filename='images/signup.png') }}');background-repeat:no-repeat;background-position: center center;background-size: contain">
    <br>
    <br>
    <div class="" style="background:url('{{ url_for('static', filename='images/signuppaper.png') }}');background-repeat:no-repeat;background-position: center center;background-size: contain">
        <br>
        <br>
        <br>
        <center><h1>Sign Up</h1></center>
        <form style="text-align: center;" action="/signup" method="POST">
            <h4>Login Info</h4>
            <div>
                <img src="{{ url_for('static', filename='images/Sample_User_Icon.png') }}" style="border-radius: 50px;width: 35px;position:absolute; z-index: 2;pointer-events: none;background-color:white;">
                <input type="text" placeholder="Enter name" name="name" required style="border-radius: 25px;font-size:20px;text-align: center;background-color: #DCDCDC;"><br>
            </div>
            <br>
            <div>
                <img src="{{ url_for('static', filename='images/Sample_User_Icon.png') }}" style="border-radius: 50px;width: 35px;position:absolute; z-index: 2;pointer-events: none;background-color:white;">
                <input type="text" placeholder="Enter username" name="username" required style="border-radius: 25px;font-size:20px;text-align: center;background-color: #DCDCDC;"><br>
            </div>
            <br>
            <div>
                <img src="{{ url_for('static', filename='images/unlock.png') }}" style="border-radius: 50px;width: 35px;position:absolute; z-index: 2;pointer-events: none;background-color:white;">
                <input type="password" placeholder="Enter Password" name="password" required style="border-radius: 25px;font-size:20px;text-align: center;background-color: #DCDCDC;"><br><br>
            </div>
            <div>
                <img src="{{ url_for('static', filename='images/lock.png') }}" style="border-radius: 50px;width: 35px;position:absolute; z-index: 2;pointer-events: none;background-color:white;">
                <input type="password" placeholder="Re-Enter Password" name="repeatPassword" required style="border-radius: 25px;font-size:20px;text-align: center;background-color: #DCDCDC;"><br><br>
            </div>
            <div>
                <img src="{{ url_for('static', filename='images/Sample_User_Icon.png') }}" style="border-radius: 50px;width: 35px;position:absolute; z-index: 2;pointer-events: none;background-color:white;">
                <input type="number" placeholder="Enter phone" name="phone" required style="border-radius: 25px;font-size:20px;text-align: center;background-color: #DCDCDC;"><br>
            </div>
            <br>
            <button type="submit" style="border-radius: 25px;font-size:20px;text-align: center;width:225px;background-color: #a8baa9;"><strong>Sign Up</strong></button>
            <br>
            <br>
            <br>
            <br>
        </form> 
        {% if ERROR %}
        <br>
        <h5 style="color: red;text-align: center;">{{ERROR_MSG}}</h5>    
        {% endif %}
    </div>
    <br>
    <br>
    
</div>
</div>
{% endblock %} 