{% extends 'base.html' %}

{% block head %}
<Title>MiiSpace StickyNote</Title>
{% endblock %}

{% block body %}

<center>
<h4>Edit Sticky Notes</h4>
<table>
    <tr>
        <th>Current Sticky Notes</th>
    </tr>
    {% for note in sticky%}
    <tr>
        <td>
            {{note}}
        </td>
    </tr>
    {%  endfor %}
</table>

</center>
<form style="text-align: center;" action="/stickynotes" method="POST">
    <div>
        <input type="text" placeholder="Enter New Note Text" name="text"  style="border-radius: 25px;font-size:20px;text-align: center;background-color: #DCDCDC;"><br>
    </div>
    <br>
    <button type="submit" style="border-radius: 25px;font-size:20px;text-align: center;width:225px;background-color: #a8baa9;"><strong>Add Note</strong></button>
</form> 
<br>
<center>
    <a href="delete"><button style="border-radius: 25px;font-size:20px;text-align: center;width:225px;background-color: #a8baa9;"><strong>Delete All Notes</strong></button></a>
</center>
{% endblock %} 