{% extends 'base.html' %}

{% block head %}
<Title>MiiSpace StickyNote</Title>
<script src="https://kit.fontawesome.com/368a12c127.js" crossorigin="anonymous"></script>
{% endblock %}

{% block body %}
<img src="{{ url_for('static', filename='images/leaves.png') }}" style="width: 100%;position:absolute; z-index: 2;pointer-events: none;">
<center>
<h4>Edit Sticky Notes</h4>
<table>
    <tr>
        <th style="text-align:center">Current Sticky Notes</th>
    </tr>
    {% for note in sticky%}
    <tr >
        <td>
            {{note}}
        </td>
    </tr>
    {%  endfor %}
</table>
<br>
</center>
<form style="text-align: center;" action="/stickynotes" method="POST">
    <div>
        <textarea id="text" name="text" rows="3" cols="50" style="border-radius: 25px;font-size:20px;text-align: center;background-color: #DCDCDC;">


        </textarea>
        <!--
        <input type="text" placeholder="Enter New Note Text" name="text"  style="border-radius: 25px;font-size:20px;text-align: center;background-color: #DCDCDC;"><br>
            -->
    </div>
    <br>
    <button type="submit" style="border-radius: 25px;font-size:20px;text-align: center;width:225px;background-color: #a8baa9;"><strong>Add Note</strong></button>
</form> 
<br>
<center>
    <a href="deleteNotes"><button style="border-radius: 25px;font-size:20px;text-align: center;width:225px;background-color: #a8baa9;"><strong>Delete All Notes</strong></button></a>
</center>
<center>
<br>
<form style="text-align: center;" action="/deleteSpecificNote" method="POST">
    <button type="submit" style="float:left; margin-left: 39%; border-radius: 25px;font-size:20px;text-align: center;width:225px;background-color: #a8baa9;"><strong>Remove</strong></button>
    <input type="text" placeholder="Remove Sticky #: (e.g. 1)" name="deleteSpecificNote"  style="float:left; border-radius: 25px;font-size:20px;text-align: center;background-color: #DCDCDC;"><br>
    
</form>
<br>
{% if ERROR %}
<h5 style="color: red;text-align: center;">{{ERROR_MSG}}</h5>    
{% endif %}
</center>
{% endblock %} 